<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Keskustelu</h1>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/search">Uusi arvostelu</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% if session.user_id %}
        <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>