<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
    <h1>Uusi arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Elokuvan otsikko: <br />
      <input type="text" name="title" maxlength = "50" required/>
    </p>
  
    <p>
      Arvostelun teksti: <br />
      <textarea name = "review" rows = "8" cols = "46" maxlength = "1500" required></textarea>
      </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value=""></option>
      {% for option in classes[class] %}
        <option value="{{ class }}: {{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Luo arvostelu" />
  </form>
</body>

</html>
